    
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>We List</h1>
                        <!-- <h3>A Template by Start Bootstrap</h3> -->
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/list" class="btn btn-default btn-lg"> <span class="network-name">Discover</span></a>
                            </li>
                            <li>
                                <a href="/login" class="btn btn-default btn-lg"> <span class="network-name">Login</span></a>
                            </li>
                            <li>
                                <a href="http://github.com/pcn913/WeList" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>