<!--<div id="home-wrapper">-->
  
  <!--<h1>{{msg}}</h1>-->

<!--</div>-->






    <!--<div class="intro-header">-->
        <div class="container">

        

            <div class="row">

				    {{> examplePartials/partial}}

				  {{#each lists}}
				  <li>{{this.title}}</li>
				  {{/each}}
            </div>

            <div class="row">
            {{#each lists}}
				<div class="col-sm-4 col-lg-4 col-md-4">
				    <div class="thumbnail">
				        <img src="http://placehold.it/320x150" alt="">
				        <div class="caption">
				            <!--<h4 class="pull-right">$64.99</h4>-->
				            <h4><a href="#">{{this.title}}</a>
				            </h4>
				            <p>{{this.description}}</p>
				        </div>
				        <!--
				        <div class="ratings">
				            <p class="pull-right">12 reviews</p>
				            <p>
				                <span class="glyphicon glyphicon-star"></span>
				                <span class="glyphicon glyphicon-star"></span>
				                <span class="glyphicon glyphicon-star"></span>
				                <span class="glyphicon glyphicon-star"></span>
				                <span class="glyphicon glyphicon-star-empty"></span>
				            </p>
				        </div>
				        -->
				    </div>
				</div>

            {{/each}}

            </div>




        </div>
        <!-- /.container -->

    <!--</div>-->
