<br><br> <br>

    <div class="container marketing">

    <div class="menu-wrapper">
        <ul class="menu">
        <li class="item num1" id="travel">Travel</li><!--
      --><li class="item num2" id="food">Food</li><!--
      --><li class="item num3" id="home">Home</li><!--
      --><li class="item num4" id="kids">Kids</li><!--
      --><li class="item num6" id="pets">Pets</li><!--
      --><li class="item num7" id="music">Music</li><!--
      --><li class="item num5" id="career">Career</li>
        </ul>
      <div class="paddles">
        <button class="left-paddle paddle hidden">
           <
        </button>
        <button class="right-paddle paddle">
            >
      </button>
      </div>

    </div>

    <br>

      <div class="container-fluid">
    
        <div class="card-columns" id="lists">

          <!-- list cards go here -->
          {{#each lists}}

          <!-- list cards go here -->
          <div class="card mylist" id = "{{this.list_id}}">
            <div class="card-header">{{this.title}}</div>
            <div class="card-block">
            <div class="card-text">
            <div class="panel-body">
              <img src="{{this.list_photo}}" width="100%">
                <p>{{this.description}}</p>
            </div>
            </div>
            </div>
            </div>
        {{/each}}

        </div>

    </div><!-- /.container -->